TFTP_USERNAME="tftp"
TFTP_DIRECTORY="/tftpboot"
{% for net in settings['networks'] %}
{% if net['boot'] is defined and net['boot'] %}
TFTP_ADDRESS="{{ net['subnet'][:-1] }}254:69"
{% endif %}
{% endfor %}
TFTP_OPTIONS="--secure"
