[req]
default_bits = 4096
default_md = sha256
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = US
ST = VA
L = SomeCity
O = SUSE Software Solutions GmbH
OU = ECM
CN = self-signed test certificate
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
{% for net in settings['networks'] %}
IP.{{ loop.index }} = {{ net['subnet'][:-1] }}254
{% endfor %}
