# example from https://github.com/harvester/ipxe-examples/blob/main/general/config-create.yaml

scheme_version: 1

token: {{ settings['harvester']['token'] }}
os:
  hostname: {{ settings['harvester']['cluster'][0]['name'] }}
  password: {{ settings['harvester']['global']['password'] }}
  ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key
{% for ssh_key in settings['harvester']['global']['ssh_authorized_keys'] %}
    - {{ ssh_key }}
{% endfor %}
  dns_nameservers:
{% for dns_server in settings['harvester']['global']['dns_servers'] %}
  - {{ dns_server }}
{% endfor %}
  ntp_servers:
{% if settings['harvester']['airgapped'] %}
{% for net in settings['networks'] %}
    - {{ net['subnet'][:-1] }}254
{% endfor %}
{% else %}
{% for ntp_server in settings['harvester']['global']['ntp_servers'] %}
    - {{ ntp_server }}
{% endfor %}
{% endif %}
  sshd:
    sftp: {{ settings['harvester']['global']['sftp'] | default('true', true) }}
  labels:
    topology.harvesterhci.io/hostname: {{ settings['harvester']['cluster'][0]['name'] }}
{% if settings['harvester']['cluster'][0]['labels'] is defined %}
{% for key, label in settings['harvester']['cluster'][0]['labels'].items() %}
    {{ key }}: {{ label }}
{% endfor %}
{% endif %}
{% if settings['harvester']['airgapped'] %}
  environment:
    http_proxy: http://{{ settings['networks'][0]['subnet'][:-1] }}254:3128
    https_proxy: https://{{ settings['networks'][0]['subnet'][:-1] }}254:3128
{% endif %}

{% for disk in settings['harvester']['cluster'][0]['disks'] %}
{% if disk['mpath'] is defined %}
  externalStorageConfig:
    enabled: true
{% endif %}
{% endfor %}

install:
  mode: create
{% if settings['harvester']['cluster'][0]['role'] != 'default' %}
  role: {{ settings['harvester']['cluster'][0]['role'] }}
{% endif %}
  management_interface:
    interfaces:
      - name: {{ mgmt_interface }}
    method: dhcp
{% if settings['harvester']['cluster'][0]['root_disk'] is defined %}
  device: /dev/{{ settings['harvester']['cluster'][0]['root_disk'] }}
{% else %}
  device: /dev/{{ settings['harvester']['cluster'][0]['disks'][0]['name'] }}
{% endif %}
{% if settings['harvester']['cluster'][0]['data_disk'] is defined %}
  data_disk: /dev/{{ settings['harvester']['cluster'][0]['data_disk'] }}
{% endif %}
  iso_url: http://{{ pxe_address }}/harvester/harvester-amd64.iso
#  tty: ttyS1,115200n8   # For machines without a VGA console
  tty: ttyS0
  vip: {{ settings['harvester']['vip']['ip'] }}
  vip_mode: {{ settings['harvester']['vip']['mode'] }}
  vip_hw_addr: {{ settings['harvester']['vip']['mac'] }}
  harvester:
    storage_class:
      replica_count: {{ [ ( settings['harvester']['cluster'] | length ), 3 ] | min }}
{% if settings['harvester']['airgapped'] %}
systemSettings:
  http-proxy: |
    {
      "httpProxy": "http://{{ pxe_address }}:3128",
      "httpsProxy": "https://{{ pxe_address }}:3128",
      "noProxy": "{{ settings['networks'][0]['subnet'] }}/24"
    }
  ui-source: bundled
{% endif %}
