ddns-update-style none;

# option domain-name "example.org";
include "/etc/dhcp/ipxe.conf";
option arch code 93 = unsigned integer 16;
option user-class code 77 = string;

default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;

{% for net in settings['networks'] %}
{% with net_idx = loop.index0 %}
{% if net['dhcp_range'] is defined %}
subnet {{ net['subnet'] }} netmask {{ net['netmask'] }} {
    range {{ net['dhcp_range']['start'] }} {{ net['dhcp_range']['end'] }};
    option domain-name-servers {{ net['subnet'][:-1] }}254, {{ settings['pxe_server']['dns_server'] }}, 8.8.8.8;

{% if settings['harvester']['airgapped'] %}
    option routers {{ net['subnet'][:-1] }}254;
{% else %}
    option routers {{ net['subnet'][:-1] }}1;
{% endif %}

{% if net['boot'] is defined and net['boot'] %}
    next-server {{ net['subnet'][:-1] }}254;

    if exists user-class and option user-class = "iPXE" {
        filename "http://{{ net['subnet'][:-1] }}254/harvester/${net1/mac}";
    } elsif option arch != 00:00 {
        filename "ipxe/ipxe.efi";
    } else {
        filename "ipxe/undionly.kpxe";
    }
{% endif %}

{% for node in settings['harvester']['cluster'] %}
{% with node_idx = loop.index0 %}
{% if net['name'] in node['networks'] %}
    host {{ node['name'] }}-{{ net_idx }} {
        hardware ethernet 02:00:0{{ net_idx }}:{{ node_idx }}D:62:E2;
        fixed-address {{ net['subnet'][:-1] }}3{{ node_idx }};
        server-name {{ node['name'] }};
    }
{% endif %}
{% endwith %}
{% endfor %}
}

{% endif %}
{% endwith %}
{% endfor %}
host harvest_vip {
    hardware ethernet {{ settings['harvester']['vip']['mac'] }};
    fixed-address {{ settings['harvester']['vip']['ip'] }};
}
